<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="config" status="warn">
    <Appenders>
        <Console name="stdout">
            <ThresholdFilter level="WARN"/>
            <PatternLayout pattern="%date [%thread] %-5level %logger -%equals{ user[%MDC{session_user}]}{ user[]}{}%equals{ action[%MDC{service_action}]}{ action[]}{} %msg%n"/>
        </Console>
        <RollingFile name="file-log"
                      fileName="secret_santa.log"
                      filePattern="logs/full.log-%d{yyyy-MM-dd}.%i.log.gz">
        <ThresholdFilter level="INFO"/>
            <PatternLayout pattern="%date [%thread] %-5level %logger -%equals{ user[%MDC{session_user}]}{ user[]}{}%equals{ action[%MDC{service_action}]}{ action[]}{} %msg%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1"/>
            <SizeBasedTriggeringPolicy size="200 MB"/>
        </Policies>
        <DefaultRolloverStrategy>
            <Delete basePath="logs" maxDepth="1">
                <IfFileName glob="full.log-*.log.gz"/>
                <IfLastModified age="P7D"/>
            </Delete>
        </DefaultRolloverStrategy>
    </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="info"/>
        <Logger name="org.hibernate" level="info"/>

        <Root level="debug">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file-log"/>
        </Root>
    </Loggers>
</Configuration>