.error-message {
    color: #bb1515;
    text-align: center;
    font-size: 150%;;
}

.main-table {
    display: flex;
    flex-direction: row;
}

.table-group {
    width: 100%;
}

td {
    text-align: center;
    vertical-align: middle;
}

input.validation:valid {
    background-color: ivory;
    border: none;
    outline: 2px solid deepskyblue;
    border-radius: 5px;
    accent-color: gold;
}

input.validation:invalid {
    border: 2px solid red;
}

.left-box {
    width: 20%;
}

.container {
    width: 70%;
}

.container-box {
    background-color: #97bdf1;
}

.container-sub-box {
    background-color: #b4d3ff;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.info {
    display: grid;
    text-align: center;
}

.font-size-130 {
    font-size: 130%;
}

.form-box {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.form-box label {
    text-align:center;
}

.form-box label:after {
    content: ":";
}

.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
    display: grid;
    gap: 0;
}

/* Background color to the top navigation */
.navbar {
    padding: 3px;
    background-color: #4b86a1;
}

.navbar-form {
    display: inline-block;
}

/* Links styles inside the navigation bar */
.navbar a {
    float: left;
    color: #70afd5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Color of links on hover */
.navbar a:hover {
    background-color: #639fc2;
    color: black;
}

.navbar-btn-link {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #70afd5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #559ab7;
    overflow: hidden;
}

.navbar-btn-link:hover {
    background-color: #639fc2;
    color: black;
}

.navbar-btn-link:active {
    background-color: #639fc2;
    box-shadow: 0 5px #559ab7;
    transform: translateY(4px);
}

/* Color to the active/current link */
.navbar a.active {
    background-color: #58a2cb;
    color: white;
}

/* Right-aligned section inside the top navigation */
.navbar-right {
    float: right;
}

/* Lang section inside the top navigation */
.navbar-lang {
    float: right;
    padding: 5px 50px;
    display: inline-block;
}

textarea {
    resize: none;
}

#lang-dropdown {
    /*style the "box" in its minimzed state*/
    /*border:0px solid black;*/
    width:46px; height:46px; overflow:hidden;
    /*animate the dropdown collapsing*/
    transition: height 0.1s;
    position: absolute;
}
#lang-dropdown:hover {
    /*when expanded, the dropdown will get native means of scrolling*/
    width:64px; height:96px; overflow-y:scroll;
    /*animate the dropdown expanding*/
    transition: height 0.5s;
}
#lang-dropdown input {
    /*hide the nasty default radio buttons!*/
    position:absolute;opacity:0;
}
#lang-dropdown label {
    /*style the labels to look like dropdown options*/
    display:none; margin:2px;
    height:46px;
    opacity:0.2;
    background-repeat: no-repeat;
    background-color: #4b86a1;
    background-size: 32px;
    background-position: center;
}

#lang-dropdown:hover label{
    /*this is how labels render in the "expanded" state.
     we want to see only the selected radio button in the collapsed menu,
     and all of them when expanded*/
    display:block;
}
#lang-dropdown input:checked + label {
    /*tricky! labels immediately following a checked radio button
      (with our markup they are semantically related) should be fully opaque
      and visible even in the collapsed menu*/
    opacity:1 !important; display:block;
}
