<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{html.lang}">
<head>
    <th:block th:insert="~{head-common :: head-common}"></th:block>
</head>
<body>
<th:block th:insert="~{navbar :: menu}"></th:block>
<div th:if="${param.error}" th:text="#{html.error.no_participant}"></div>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <div class="container-sub-box">
            <h2 th:text="#{html.fp.h2.pass-restore}"></h2>
        </div>
        <div class="font-size-130">
            <form th:action="@{forgot_password}" th:object="${participant}" method="post">
                <div class="form-group">
                    <label for="email" th:text="#{html.label.email}"></label>
                    <input th:field="*{email}" id="email" type="email" class="validation" required />
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{html.fp.button.send-reset-password-info}"></button>
            </form>
        </div>
    </div>
</main>
</body>
</html>