<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>@html.head.title.main@</title>
    <link rel="stylesheet" type="text/css" media="all" href="@html.head.css.common@" />
    <script src="@html.head.js.common@"></script>
</head>
<body>
<div th:insert="~{navbar :: menu}"></div>
<div th:if="${param.error}">
    @html.error.no_participant@
</div>
<span class="error-message" th:if="${errMessage != null && !errMessage.isBlank()}" th:text="${errMessage}">errMessage</span>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <div class="container-sub-box">
            <h2>@html.fp.h2.pass-restore@</h2>
        </div>
        <div class="font-size-130">
            <form th:action="@{forgot_password}" th:object="${participant}" method="post">
                <div class="form-group">
                    <label for="email">@html.label.email@</label>
                    <input th:field="*{email}" id="email" type="text" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">@html.fp.button.send-credentials@</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>