<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:lang="#{html.lang}">
<head>
    <th:block th:insert="~{head-common :: head-common}"></th:block>
</head>
<body>
<th:block th:insert="~{navbar :: menu}"></th:block>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <div class="font-size-130">
            <form th:action="@{group}" th:object="${group}" method="post">
                <input th:name="groupUuid" th:value="*{uuid}" type="hidden" id="uuid" />
                <div class="form-group">
                    <label for="description" th:text="#{html.label.group}"></label>
                    <th:block th:if="${group.uuid == null}">
                        <input th:name="description" th:field="*{description}" id="description" type="text" class="validation" required />
                    </th:block>
                    <th:block th:if="${group.uuid != null}">
                        <input sec:authorize="hasAnyAuthority('SUPERADMIN', #vars.group.uuid)"
                               th:name="description" th:field="*{description}" id="description" type="text" class="validation" required />
                        <input sec:authorize="!hasAnyAuthority('SUPERADMIN', #vars.group.uuid)"
                               th:name="description" th:field="*{description}" id="description" type="text" class="validation" required readonly />
                    </th:block>
                </div>
                <button th:if="${group.uuid == null}" th:name="action" th:value="create"
                        th:confirm-message="#{html.group.button.create-confirm}"
                        onclick="return clickConfirm(this.getAttribute('confirm-message'))"
                        type="submit" class="btn btn-primary" th:text="#{html.group.button.create}"></button>
                <button th:if="${group.uuid != null && canJoin}" th:name="action" th:value="join"
                        th:confirm-message="#{html.group.button.join-confirm}"
                        onclick="return clickConfirm(this.getAttribute('confirm-message'))"
                        type="submit" class="btn btn-primary" th:text="#{html.group.button.join}"></button>
                <button sec:authorize="hasAnyAuthority('SUPERADMIN', #vars.group.uuid)"
                        th:if="${group.uuid != null}" th:name="action" th:value="update"
                        th:confirm-message="#{html.group.button.update-confirm}"
                        onclick="return clickConfirm(this.getAttribute('confirm-message'))"
                        type="submit" class="btn btn-primary" th:text="#{html.group.button.update}"></button>
                <button sec:authorize="hasAnyAuthority('SUPERADMIN', #vars.group.uuid)"
                        th:if="${group.uuid != null && !group.hasDrawn}" th:name="action" th:value="delete"
                        th:confirm-message="#{html.group.button.delete-confirm}"
                        onclick="return clickConfirm(this.getAttribute('confirm-message'))"
                        type="submit" class="btn btn-primary" th:text="#{html.group.button.delete}"></button>
            </form>
        </div>
    </div>
</main>
</body>
</html>