<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>@html.head.title.main@</title>
    <link rel="stylesheet" type="text/css" media="all" href="@html.head.css.common@" />
    <script src="@html.head.js.common@"></script>
</head>
<body>
<div th:insert="~{navbar :: menu}"></div>
<span class="error-message" th:if="${errMessage != null && !errMessage.isBlank()}" th:text="${errMessage}">errMessage</span>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <div class="font-size-130">
            <form th:action="@{group}" method="get">
                <label for="group_list">@html.label.group@</label>
                <select th:name="groupUuid" onchange="this.form.submit()" id="group_list" class="form-control" required>
                    <option th:each="g : ${groupList}"
                            th:value="${g.uuid}"
                            th:text="${g.description}"
                            th:selected="${g.equals(group)}"></option>
                </select>
            </form>
            <form th:action="@{group}" th:object="${group}" method="post">
                <input th:name="groupUuid" th:value="*{uuid}" type="hidden" id="uuid" />
                <div class="form-group">
                    <label for="description">@html.label.group@</label>
                    <input th:name="description" th:field="*{description}" id="description" type="text" required />
                </div>
                <button th:if="${group.description == null}" th:name="action" th:value="create"
                        onclick="return clickConfirm('@html.group.create.update.confirm@')"
                        type="submit" class="btn btn-primary">@html.group.create.update@</button>
                <button th:if="${group.description != null}" th:name="action" th:value="update"
                        onclick="return clickConfirm('@html.group.button.update.confirm@')"
                        type="submit" class="btn btn-primary">@html.group.button.update@</button>
                <button th:if="${group.description != null && !group.hasDrawn}" th:name="action" th:value="delete"
                        onclick="return clickConfirm('@html.group.button.delete.confirm@')"
                        type="submit" class="btn btn-primary">@html.group.button.delete@</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>