<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:lang="#{html.lang}">
<head>
    <th:block th:insert="~{head-common :: head-common}"></th:block>
</head>
<body>
<th:block th:insert="~{navbar :: menu}"></th:block>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <th:block th:utext="#{html.home.welcome-structure}"></th:block>
        <div class="font-size-130">
            <p th:if="${participantsWithinGroups != null && participantsWithinGroups > 0}"
               th:utext="#{html.home.participants-count} + '&lt;b&gt;' + ${participantsWithinGroups} +'&lt;/b&gt;'"
               class="info">
            </p>
            <p sec:authorize="!isAuthenticated()" class="info">
                <a th:href="@{sign_up}" class="btn btn-link"
                   th:text="#{html.sign-in.link.register}"/>
            </p>
        </div>
    </div>
</main>
</body>
</html>