<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{html.lang}">
<head>
    <th:block th:insert="~{head-common :: head-common}"></th:block>
</head>
<body>
<th:block th:insert="~{navbar :: menu}"></th:block>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <div class="container-sub-box">
            <h2 th:text="#{html.participant.h2.p-info}"></h2>
        </div>
        <div class="font-size-130">
            <form th:action="@{participant}" th:object="${participant}" method="post">
                <div class="form-group">
                    <label for="email" th:text="#{html.label.email2}"></label>
                    <input th:field="*{email}" id="email" type="email" readonly />
                </div>
                <div class="form-group">
                    <label for="info_1" th:text="#{html.label.info}"></label>
                    <textarea th:name="info" th:field="*{info}" id="info_1" class="validation" rows="1" cols="60" ></textarea>
                </div>
                <label for="notify" th:text="#{html.label.receive-notifications}"></label>
                <input th:name="receiveNotifications" th:field="*{receiveNotifications}" id="notify" type="checkbox" />
                <button th:name="action" th:value="update"
                        th:confirm-message="#{html.participant.button.update-info.confirm}"
                        onclick="return clickConfirm(this.getAttribute('confirm-message'))"
                        type="submit" class="btn btn-primary" th:text="#{html.participant.button.update-info}"></button>
                <button th:name="action" th:value="delete"
                        th:confirm-message="#{html.participant.button.delete.confirm}"
                        onclick="return clickConfirm(this.getAttribute('confirm-message'))"
                        type="submit" class="btn btn-primary" th:text="#{html.participant.button.delete}"></button>
            </form>
        </div>
    </div>
</main>
</body>
</html>