<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{html.lang}">
<head>
    <th:block th:insert="~{head-common :: head-common}"></th:block>
    <script type="text/javascript" th:validation-message="#{html.label.password-validation-message}">
        let scripts = document.getElementsByTagName("script");
        let validationMessage = scripts[scripts.length - 1].getAttribute("validation-message");
        $(document).ready(function () {
            passwordsValidation(validationMessage);
        })
    </script>
</head>
<body>
<th:block th:insert="~{navbar :: menu}"></th:block>
<div th:if="${param.error}" th:text="#{html.error.no_participant}"></div>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <div class="container-sub-box">
            <h2 th:text="#{html.fp.h2.pass-restore}"></h2>
        </div>
        <div class="font-size-130">
            <form th:action="@{reset_password}" method="post">
                <input name="actionToken" type="hidden" id="action_token" th:value="${actionToken}" />
                <div class="form-group">
                    <label for="user_email" th:text="#{html.label.email}"></label>
                    <input name="email" type="email" id="user_email" th:value="${email}" readonly />
                </div>
                <div class="form-group">
                    <label for="password" th:text="#{html.label.password}"/>
                    <input id="password"
                           type="password"
                           class="validation"
                           name="password"
                           th:pattern="#{html.label.password-pattern}"
                           th:title="#{html.label.password-title}"
                           required />
                </div>
                <div class="form-group">
                    <label for="password-repeat" th:text="#{html.label.password-repeat}"/>
                    <input id="password-repeat"
                           type="password"
                           class="validation"
                           name="password_repeat"
                           th:equal-to-id="password"
                           th:pattern="#{html.label.password-pattern}"
                           th:title="#{html.label.password-title}"
                           required />
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{html.fp.h2.pass-reset}" />
            </form>
        </div>
    </div>
</main>
</body>
</html>