<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{html.lang}">
<head>
    <th:block th:insert="~{head-common :: head-common}"></th:block>
    <script type="text/javascript" th:validation-message="#{html.label.password-validation-message}">
        let scripts = document.getElementsByTagName("script");
        let validationMessage = scripts[scripts.length - 1].getAttribute("validation-message");
        $(document).ready(function () {
            $("#notify").prop("checked", true);
            passwordsValidation(validationMessage);
        })
    </script>
</head>
<body>
<th:block th:insert="~{navbar :: menu}"></th:block>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <div class="container-sub-box">
            <h2 th:text="#{html.sign-up.h2.registration}"></h2>
        </div>
        <div class="font-size-130">
            <form th:action="@{sign_up}" th:object="${participant}" method="post">
                <label th:if="${!customPassword}" th:text="#{html.sign-up.label.password-will-be-generated}"/>
                <div class="form-group">
                    <label for="email" th:text="#{html.sign-up.label.email-work}"></label>
                    <input id="email" type="email" class="validation" name="email"
                           th:field="*{email}"
                           required />
                </div>
                <th:block th:if="${customPassword}">
                    <div class="form-group">
                        <label for="password" th:text="#{html.label.password}"/>
                        <input id="password"
                               type="password"
                               class="validation"
                               name="password"
                               th:pattern="#{html.label.password-pattern}"
                               th:title="#{html.label.password-title}"
                               required />
                    </div>
                    <div class="form-group">
                        <label for="password-repeat" th:text="#{html.label.password-repeat}"/>
                        <input id="password-repeat"
                               type="password"
                               class="validation"
                               name="password_repeat"
                               th:equal-to-id="password"
                               th:pattern="#{html.label.password-pattern}"
                               th:title="#{html.label.password-title}"
                               required />
                    </div>
                </th:block>
                <div class="form-group">
                    <label for="info" th:text="#{html.sign-up.label.info}"></label>
                    <input id="info" type="text" class="validation" name="info"
                           th:field="*{info}"
                           required />
                </div>
                <label for="notify" th:text="#{html.label.receive-notifications}"></label>
                <input id="notify" type="checkbox" name="receiveNotifications" th:field="*{receiveNotifications}" checked />
                <button type="submit" class="btn btn-primary" th:text="#{html.sign-up.button.register}" />
            </form>
        </div>
    </div>
</main>
</body>
</html>