<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="#{html.lang}">
<head>
    <th:block th:insert="~{head-common :: head-common}"></th:block>
</head>
<body>
<th:block th:insert="~{navbar :: menu}"></th:block>
<div th:if="${param.error}" th:text="#{html.error.wrong-data}"></div>
<div th:if="${param.logout}" th:text="#{html.error.session-closed}"></div>
<main class="main-table">
    <div class="left-box"></div>
    <div class="container container-box">
        <div class="container-sub-box">
            <h2 th:text="#{html.sign-in.h2.enter}"></h2>
        </div>
        <div class="font-size-130">
            <div class="form-box">
                <form th:action="@{do_login}" method="post">
                    <div th:if="${regConfirmMessage != null && !regConfirmMessage.isBlank()}" class="form-group">
                        <label style="font-size: 150%" th:text="${regConfirmMessage}"></label>
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{html.sign-up.label.email-work}"></label>
                        <input th:value="${email}" id="email" type="email" name="email" class="validation" required />
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{html.label.password}"></label>
                        <input id="password" type="password" name="password" class="validation" required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{html.button.login}"></button>
                        <a th:href="@{forgot_password}" class="btn btn-link" th:text="#{html.sign-in.link.forgot-password}"></a>
                    </div>
                    <a th:href="@{sign_up}" class="btn btn-link" th:text="#{html.sign-in.link.register}"></a>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>